.container{
    margin: auto;
    max-width: 300px;
    box-shadow: 3px 3px 15px rgb(196, 196, 196)
}

.image{
    display: flex;
    flex-direction: column;
}

.font{
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
}

.title_size{
    font-size: 20px;
}
