.container{
    margin: auto;
    max-width: 250px;
    box-shadow: 3px 3px 15px rgb(196, 196, 196)
}

.image_space{
    display: flex;
    flex-direction: column;
}

.font_space{
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.title_size{
    font-size: 20px;
}

